# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Database files
# =========================
*.db
*.sqlite3

# =========================
# Environment variables / secrets
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editor files
# =========================
.vscode/
.idea/
*.swp
